@model ImageGallery.Models.UploadModel
@using ImageGallery.Controllers

<div class="container body-content ">
    <div class="row upload-container">
        <div class="upload-form drop-shadow">
            <form asp-action="AddFile" asp-controller="Image" method="post" enctype="multipart/form-data">
            <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
            <div class="form-group">
            <label asp-for="Tags"></label>
            <input asp-for="Tags" class="form-control" />
        </div>
            <div>
            <label class="btn btn-file">
                <input type="file" name="uploadedFile" id="uploadedFile" style="display:normal" />
            </label>
        </div>
        <div class="simbit">
            <label class="btn btn-outline-success btn-file">
                <input type="submit" id="btn-upload" class="btn btn-info" />
            </label>
        </div>
        <div>
            <button asp-controller="ImageController" asp-action="OnPost" type="submit" id="btn-upload" class="btn btn-outline-success">Simbit</button>
        </div>
            <input type="file" name="uploadedFile" /><br>
            <input type="submit" value="Загрузить" />
        </form>

            @*<form asp-action="AddFile" asp-controller="Image" method="post" enctype="multipart/form-data">
                <p>
                    <label>Аватар</label>
                    <input name="uploadedFile" type="file" class="form-control" />
                </p>
                <p>
                    <input type="submit" value="Добавить" />
                </p>
            </form>*@



        </div>
    </div>
</div>

