@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="bg-primary m-1 p-1 text-white"><h4>About gallery</h4></div>

<p class="alert-heading">Hi, you are visiting my Image Gallery</p>
<p>
    What this app can do:<br>
    1.Upload new image on server, with title, tags, and datetime<br>
    2.Delete and edit uploaded image by own<br>
    3.Creating account and edit exiting account<br>
    4.Delete and edit accounts by admin<br>
    5.Find images by tag<br>
    6.And much more<br>
</p>
<p>
    Congratulations you run my app. I am trying to make this app better then i can, but i am also a begginer in programmin in C#, and wait for yours reccomendations and advises.
</p>
<p>
    My Links:
</p>
<a class="btn-link" href="https://github.com/andr1312e">GitHub</a> <label> - you can find more projects there)</label>
<br>
<a class="btn-link" href="https://github.com/andr1312e/ImageGallery">Project repository</a>
<br>
<label> My emails: andr1312e@@gmail.com and andr1312e@@outlook.com</label>
<br>
<p>Telegram & Skype : andr1312e</p>
<p>Thanks for watching.</p>
