/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.gallery-content {
    padding: 24px;
}
.image-detail-container {
    padding: 8px;
    border-radius: 2px;
    margin: 12px;
    display: inline-block;
    height: 420px;
    width: 420px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5), 0px 10px 15px rgba(0, 0, 0, 1);
}
.image-detail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 400px;
    position: center;
}
.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 400px;
    position: center;
}
.gallery-image-container {
    padding: 8px;
    border-radius: 2px;
    margin: 12px;
    display: inline-block;
    height: 420px;
    width: 420px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5), 0px 10px 15px rgba(0, 0, 0, 1);
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
