@model ImageGallery.Models.GalleryModel
@{
}
<div class="container body-content">
    <div class="row gallery-content">
        @foreach (var Image in Model.Images)
        {
        <div class="gallery-image-container">
            <a asp-controller="ImageGallery" asp-action="Detail" asp-route-id="@Image.Id">
                <div class="gallery-image" style="background-image:url(@Image.Url)"></div>
            </a>
        </div>
        }
    </div>
</div>
