@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="bg-primary m-1 p-1 text-white"><h4>FAQ: Gallery and code</h4></div>

<p class="alert-heading">Hi, you are visiting my Image Gallery. Thanks for download it. This FAQ about code</p>
<p>
    Questions:<br>
    1. What's framework and libraries do you use?<br>
    A.I'm use .NET Core 3.1.102, ASP.NET, Entity Framework Core 3.1.1 and Identity 2.2.0. Of course, i am using JS and Bootstrap for front-end<br>
    2. Are you do it by yourself?<br>
    A. Not, I am using Adam's Freeman book ASP.NET CORE MVC 2 (Chapter 14-29). Of course, I'm using some materials on Internet<br>
    3. I see some projects in your solutions, what does it's doing?<br>
    A. I have 3 projects. This is ImageGallery, ImageGallery.Data and ImageGallerServises. <br>
    First: It is UI, Controllers, and Model needs to serve it. For example, UploadModel need to get text and Image from FormData and convert into a model(GalleryImage)<br>
    Second: It needs to save all data that need in this app. It is roles, images, user information, and models. Of course, files of DbContext save here, and if you wanna make a migration, you should to chose this project in the console package manager of Visual Studio.<br>
    Third: Its services need to serve DbContext, for example, to save data, or find it. These methods can be useful in all part of this program and I make it in service, not in a controller.<br>
    4. Are you have any difficulty in developing this app?<br>
    A: Ye of course. For example, I have a problem with uploading a file and asked this question in a StackOverFlow and of course, found an answer by myself. Some times I asked in a special communities DotNetRuChat, but more problems i am solved by me.<br>
    5. Do you want to continue developing this app?<br>
    A: Of course, it was a great experience for me. If I have some great ideas I will realize it. But now I'm making something else;
</p>
<p>
    If you have any questions you connect with me.
</p>
<p>
    Links:
</p>
<a class="btn-link" href="https://github.com/andr1312e">GitHub</a> <label> - you can find more projects there)</label>
<br>
<a class="btn-link" href="https://github.com/andr1312e/ImageGallery">Project repository</a>
<br>
<label> My emails: andr1312e@@gmail.com and andr1312e@@outlook.com</label>
<br>
<p>Telegram & Skype : andr1312e</p>
<p>Thanks for watching.</p>
